
@font-face {
    font-family: cam ;
    src: url(./font/Cambria-Font-For-Windows.ttf);
}
@font-face {
    font-family:coop ;
    src: url(./font/CooperBlackStd-Italic.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}
::selection {
    color: #00eb8f;
    background: #e6fdf4;
  }
.main{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: relative;
 
}
.nav{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    z-index: 9999;
}
.nav i{

    display: none;
}
.nav h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: 500;
}
.nav h1::after{
    content: ".";
    color: #00eb8f;
    padding: 1px;
}
.nav-part{
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 30px;
}
.nav-part a{
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
    color: #000000;
}

.nav-part a:nth-last-child(1){
    padding: 0.8vw 3vw ;
    border-radius: 50px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    z-index: 999;

}
.nav-part a:nth-last-child(1)::before{
    content: "";
    background: #00eb8f;
    top: 0;
    left: -100%;
   transition: all 0.9s;
    width: 100%;
    position: absolute;
    height: 100%; 
    z-index: -1; 
}
.nav-part a:nth-last-child(1):hover::before{
    left: 0;
    color: black;

}
.page1{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page1>h1{
    font-size: 5.5vw;
    font-weight: 100;
    font-family: "cam";
    text-align: center;
    color: black;
    position: relative;
    z-index: 999;
}
.page1 h1::after{
    content: "";
    position: absolute;
    width: 45%;
    height: 1vw;
    background-image: url("./img/underline-green.svg");
    background-size: cover;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);

}
.page1 #img1{
    height: 450px;
    width: 300px;
    position: absolute;
    left: 11.9%;
    top: 22%;
}

.page1 #img2{
    height: 200px;
    width: 250px;
    position: absolute;
    right: 23.5%;
    top: 19%;
}
.page1 #img3{
    height: 253px;
    width: 253px;
    position: absolute;
    right: 10%;
    bottom: 12%;
}
.page1 #img3:hover {
    margin-bottom: 25px;
}

.page1 img{
    transition: margin 1s ease;
}
.page1 img:hover {
    margin-top: -25px;
}
.page2{
    height: 70vh;
    width: 100%;
    background: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.page2 h5{
    font-size: 25px;
    font-family: "cam";
    font-weight: 500;
    position: relative;
}
.page2 h5::before{
    content: "";
    position: absolute;
    top: 7px;
    left: -15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00eb8f;
}
 .page2 h1{
    font-size: 49px;
    width: 60%;
    margin: 26px 0px;
    text-align: center;
    font-family: "cam";
    font-weight: 100;
    position: relative;
 }
 .page2 h1::after{
    content: "";
    position: absolute;
    height: 75px;
    width: 215px;
    bottom: -9px;
    left: 37%;
    background-image: url("./img/circle-green.svg");


 }
 .about-us{
    display: flex;
    align-items: center;
    justify-content: space-around;

 }
 .about-us>h4{
    font-size: 30px;
    font-family:"com";
    text-transform: capitalize;
 }
 .arrow{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    overflow: hidden;
    z-index: 999;
    
 }
 .about-us img{
    height: 50px;
 }
 .arrow::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #00eb8f;
    z-index: -1;
    transition: all 0.6s ease;
 }
 .arrow:hover::after{
    left: 0;
 }
.page3{
    width: 100%;
    height: 100vh;
    display: flex;
}
.part3-part1{
    width: 50vw;
    height: 100vh;
    display: flex;
}
.img-part1{
    width: 30vw;
    height: 100vh;

}
.img-part1 img:nth-child(1){
    width: 100%;
    height: 68%;
    object-fit: cover;
    margin-bottom: 10px;
}
.img-part1 img:nth-child(2){
    width: 100%;
    height: 30%;
    object-fit: cover;
    object-position: center;
}
.img-part2{
    width: 70vw;
    height: 100vh;
    margin-left: 8%;
}
.img-part2 img:nth-child(1){
    width: 80%;
    height: 30%;
    object-fit: cover;
    margin-bottom: 5px;
}
.img-part2 img:nth-child(2){
    width: 100%;
    height: 78%;
    object-fit: cover;
    object-position: center;
}
.part3-part2{
    width: 50vw;
    height: 100vh;
    padding: 10vw;
    padding-left: 3vw ;
}
.part3-part2 h1{
    font-size: 4vw;
    line-height: 4.5vw;
    padding-bottom: 2vw;
    font-family: cam;
    font-weight: 400;
    position: relative;
}

.part3-part2 h1::after{
    content: "";
    width: 40%;
    top: 35%;
    left: 25%;
    height: 10px;
    position: absolute;
    background-position: center;
    background-image: url(img/underline-green.svg);
}
.part3-part2 p{
    font-size: 1.5vw;
    color: #070000dd;
    padding-bottom: 2.5vw;
}
.part3-elem{
    display: flex;
    gap: 2vw;
    align-items: center;
}
.part3-elem img{
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.part3-elem h5{
    font-size: 1.5vw;
    
}
.part3-elem button{
    padding: 0.5vw 2vw;
    border-radius: 2vw;
    background: transparent;
    font-size: 1vw;
    overflow: hidden;
    position: relative;
}
.part3-elem button::after{
    content: "";
    width: 0%;
    height: 100%;
    background: #00eb8f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 1s all ease;
}
.part3-elem button:hover::after{
    width: 100%;

}
.page4{
    width: 100%;
    height: 100vh;
}
.page4 h1{
    position: relative;
    padding: 0vw 8vw;
    padding-top: 8vw;
    text-align: center;
    font-size: 4vw;
    font-family: cam;
    font-weight: 400;
    line-height: 5vw;
}
.page4 h1::after{
    content: "";
    position: absolute;
    bottom: 23%;
    left: 30.5%;
    width: 11vw;
    height: 14vh;
    background-image: url(img/circle-green.svg);

}
#elements {
    height: 60vh;
    text-align: center;
    width: 100%;
    padding: 0 15vw;
}

#elements img {
    height: 20vh;
    margin: 5px 15px;
}
.page5{
    width: 100%;
    height: 60vh;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
  }
  .swiper-slide p{
    text-align: center;
    padding: 2vw 10vw;
    font-size: 2vw;
    font-family: cam;
  }
  .swiper-slide h3{
    font-size: 2vw;
    font-family: coop;
    font-weight: 100;
  }
.page6{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
.page6-img{
    position: absolute;
    left: 13%;
    top: 15%;
    background: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-239.jpg?w=1200&h=394&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002673&s=a8225dd79a8eb0d05ce0db6b2a5efd03);
    width: 70%;
    height: 40%;
    z-index: 2;
    text-align: center;
    padding-top: 5vw;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.449);
}
.page6-img h5{
    font-size: 2vw;
    font-family: cam;
    font-weight: 900;
    color: #FFFFFF;
}
.part6-elem{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.part6-elem img{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    object-fit: cover;
}
.part6-elem h5{
    font-size: 1.5vw;
    font-family: cam;

}
.part6-elem button{
    font-size: 1.5vw;
    padding: 0.5vw 1.5vw;
    border-radius: 2vw;
    background: transparent;
    border: 1px solid #e6fdf4;
    color: #FFFFFF;
    overflow: hidden;
    position: relative;
    
}
.part6-elem button::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background: #00eb8f;
    top: 0;
    left: 0%;
    z-index: -1;
    transition: 1s all ease;

}
.part6-elem button:hover::after{
    width: 100%;
}

.footer{
    position: absolute;
    top: 35%;
    width: 100%;
    height: 80%;
    background: rgb(0, 0, 0);    
    display: flex;
   /* text-align: center; */
   align-items: center;
   color: #FFFFFF;
   justify-content: space-around;
}
.footer-elem h1{
    font-size: 3vw;
    font-family: cam;
    font-weight: 400;
    line-height: 4.5vw;
    position: relative;
   
}
.footer-elem h1::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 70%;
    bottom: -1vw;
    right: 7.5vw;
    background-image: url(./img/circle-green.svg);

}
.elem-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    margin-top: 2vw;
}

.footer-elem h3{
    font-size: 1.5vw;
    font-family: cam;
}
.footer-elem h4{
    font-size: 1vw;
    font-family: cam;
    color: #ffffffb0;
    padding-bottom: 0.6vw;
    padding-top: 0.6vw;
}

@media (max-width: 800px) {
    body{
        overflow-X: hidden;
    }
    .nav h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 5vw;
        font-weight: 500;
    }
    .nav-part{
        display: none;
    }
    .nav i{
        font-size: 6vw;
        display: block;
    }
    .page1 #img2{
        display: none;
    }
    .page1 #img3{
        display: none;
    }
    .page1{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page1>h1{
        font-size: 7vw;
        font-weight: 600;
        font-family: "cam";
        margin-bottom: 30%;
        color: black;
        position: relative;
        
    }
    .page1 h1::after{
        content: "";
        position: absolute;
        width: 45%;
        height: 4vw;
        background-image: url("./img/underline-green.svg");
        background-size: cover;
        background-position: top;
        top: 15vw;
    
    }
   
    .page1 #img1{
        height: 450px;
        width: 100%;
        position: absolute;
        left: 0%;
        object-fit: cover;
        top: 50%;
    }

    .page2{
        height: 50vh;

    }
    .page2 h5{
        font-size: 3.5vw;
    }
    .page2 h5::before{
     display: none;
    }
     .page2 h1{
        font-size: 5.5vw;
     }
     .page2 h1::after{
        height: 20%;
        width: 30%;
        bottom: -5px;
        left: 34%;    
     }
     .about-us>h4{
        font-size: 3.5vw;
     }
     .arrow{
        margin-left: 2vw;
     }
     .about-us img{
        height: 5vw;
     }
     .page3{
        height: 100%;
        flex-direction: column;

    }
    .part3-part1{
        width: 100%;
        height: 50%;
        display: flex;
    }
    .img-part1{
        width: 40vw;
        height: 100%;
        margin-right: 5%;
    
    }
    .img-part1 img:nth-child(1){
        width: 120%;
        height: 58%;
    }
    .img-part1 img:nth-child(2){
        width: 120%;
        height: 30%;
    }
    .img-part2{
        width: 60vw;
        height: 100%;
        margin-left: 9%;
    }
    .img-part2 img:nth-child(1){
        width: 85%;
        height: 30%;
        object-fit: cover;
        margin-bottom: 5px;
    }
    .img-part2 img:nth-child(2){
        width: 120%;
        height: 65%;
    }
    .part3-part2{
        width: 100%;
        height: 100vh;
        padding: 0vw;
        padding-left: 3vw ;
    }
    .part3-part2 h1{
        text-align: center;
        font-size: 7vw;
        line-height: 7.5vw;
        padding-bottom: 1vw;
    
    }
    
    .part3-part2 h1::after{
        content: "";
        width: 28%;
        top: 40%;
        left: 40%;
        height: 2vw;
    }
    .part3-part2 p{
        font-size: 3.5vw;
        color: #070000dd;
        padding-bottom: 2.5vw;
    }
    .part3-elem{
        display: flex;
        gap: 2vw;
        align-items: center;
        justify-content: center;
    }
    .part3-elem img{
        width: 15vw;
        height: 15vw;
    }
    .part3-elem h5{
        font-size: 3.5vw;
        
    }
    .part3-elem button{
        padding: 2vw 8vw;
        border-radius: 4vw;
        font-size: 2vw;
    }

    .page4{
        width: 100%;
        height: 60vh;
    }
    .page4 h1{
        padding-top: 2vw;
        font-size: 8vw;
        font-weight: 500;
        line-height: 9.5vw;
    }
    .page4 h1::after{
        top: 2.5%;
        left: 38.5%;
        width: 21%;
        height: 35%;
    
    }
    #elements {
        height: 60vh;
        width: 100%;
        padding: 0vw 4vw;
    }
    
    #elements img {
        height: 10vh;
        margin: 0px;
    }
    .page5{
        width: 100%;
        height: 50vh;
    }

    
      .swiper-slide img {
        width: 25vw;
        height: 25vw;
      }
      .swiper-slide p{
        font-size: 4vw;
      }
      .swiper-slide h3{
        font-size: 5vw;
      }

      .page6{
        width: 100%;
        height: 50vh;        
    }

    .page6-img h5{
        margin-top: 3vw;
        font-size: 2.5vw;
        line-height: 3vw;
        font-weight: 600;
    }
    .part6-elem{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    .part6-elem img{
        width: 9vw;
        height: 9vw;
        border-radius: 50%;
        object-fit: cover;
    }
    .part6-elem h5{
        margin-bottom: 2vw;
        font-size: 2.5vw;
        font-family: cam;
    
    }
    .part6-elem button{
        font-size: 2.5vw;
    }
    
    .footer-elem h1{
        font-size: 5vw;
        line-height: 6vw;
        display: none;
       
    }
    .footer-elem h1::after{
        width: 39%;
        height: 70%;
        bottom: -1.5vw;
        right: 32vw;
        background-image: url(./img/circle-green.svg);
    
    }
    .elem-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;
        margin-top: 2vw;
        display: none;
    }
    
    .footer-elem h3{
        font-size: 3vw;
        font-family: cam;
    }
    .footer-elem h4{
        font-size: 2.5vw;
        font-family: cam;
        color: #ffffffb0;
        padding-bottom: 0.6vw;
        padding-top: 0.6vw;
    }

    
    
}